<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Pest Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
</head>

<body>
  <script src="http://code.jquery.com/jquery-2.1.0.min.js" ></script>
<body>
<div id="formWrapper">

<form action="{{ url_for('predict')}}" method="POST" id="form">
<div class="logo">
<img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
</div>
<div class="row">
		<div class="form-item">
			<p class="formLabel">Upload Image</p>
			<input type="file" name="img" id="img" class="form-style" required/>
		</div>
	<div class="form-item">
		<input type="submit" name="submit" value="Predict">
		<div class="clear-fix"></div>
		</div>
		{{output1}}
</form>
</div>
</body>
</html>
  
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
